# Copyright (c) 2021-2022 Intel Corp.
# SPDX-License-Identifier: Apache-2.0

if LOG
config LOG_BACKEND_DTF
	bool "Enable DTF backend"
	default n
	help
	  When enabled backend is using DTF to output logs.

endif # LOG
