# Kconfig - IPC configuration options

#
# Copyright (c) 2021 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

#
# IPC options
#
menuconfig IPC
	bool "IPC Drivers"
	help
	  Enable IPC Driver Configuration

if IPC

module = IPC
module-str = ipc
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.sedi"
rsource "Kconfig.ipc_intel"
endif # IPC
