# Kconfig - Marvell Phy driver configuration options

#
# Copyright (c) 2021 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
menuconfig ETH_PHY_MARVELL
	bool
	prompt "Marvell Phy driver"
	depends on NET_L2_ETHERNET
	default n
	help
	  Enable Marvell Phy driver.

if ETH_PHY_MARVELL
config ETH_PHY_88E1512
	bool
	prompt "Marvell 88E1512 Phy driver"
	select ETH_PHY
	select ETH_PHY_USE_C22
	default n
	help
	  Enable Marvell 88E1512 Phy driver.

config ETH_PHY_88E1512_EEE
	bool "Energy Efficient Ethernet(EEE) enable"
	depends on ETH_PHY_88E1512
	select ETH_PHY_USE_C45
	default n
	help
	  Enable EEE for link speed 100MHz and 1000MHz to
	  help in saving energy or reducing power consumption
	  in the PHY when no data transmission.

config ETH_PHY_88E1512_RGMII_TX_DLY_10
	int "10Mbps TX delay in RGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 6066
	help
	  Marvell 88E1512 RGMII to 10BASE-T Transmit Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_RGMII_TX_DLY_100
	int "100Mbps TX delay in RGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 657
	help
	  Marvell 88E1512 RGMII to 100BASE-TX Transmit Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_RGMII_TX_DLY_1000
	int "1Gbps TX delay in RGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 147
	help
	  Marvell 88E1512 RGMII to 1000BASE-T Transmit Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_SGMII_TX_DLY_10
	int "10Mbps TX delay in SGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 5385
	help
	  Marvell 88E1512 SGMII to 10BASE-T Transmit Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_SGMII_TX_DLY_100
	int "100Mbps TX delay in SGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 666
	help
	  Marvell 88E1512 SGMII to 100BASE-TX Transmit Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_SGMII_TX_DLY_1000
	int "1Gbps TX delay in SGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 219
	help
	  Marvell 88E1512 SGMII to 1000BASE-T Transmit Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_RGMII_RX_DLY_10
	int "10Mbps RX delay in RGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 2130
	help
	  Marvell 88E1512 10BASE-T to RGMII Receive Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_RGMII_RX_DLY_100
	int "100Mbps RX delay in RGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 362
	help
	  Marvell 88E1512 100BASE-TX to RGMII Receive Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_RGMII_RX_DLY_1000
	int "1Gbps RX delay in RGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 231
	help
	  Marvell 88E1512 1000BASE-T to RGMII Receive Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_SGMII_RX_DLY_10
	int "10Mbps RX delay in SGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 5903
	help
	  Marvell 88E1512 10BASE-T to SGMII Receive Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_SGMII_RX_DLY_100
	int "100Mbps RX delay in SGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 821
	help
	  Marvell 88E1512 100BASE-TX to SGMII Receive Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

config ETH_PHY_88E1512_SGMII_RX_DLY_1000
	int "1Gbps RX delay in SGMII mode"
	depends on ETH_PHY_88E1512 && NET_GPTP
	default 344
	help
	  Marvell 88E1512 1000BASE-T to SGMII Receive Latency Timing.
	  Default value are the calculated mean value from datasheet
	  chapter 4.13.

endif
