# Copyright (c) 2020 Intel Corp.
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

rsource "ethernet/Kconfig"
rsource "timer/Kconfig"
rsource "gpio/Kconfig"
rsource "dma/Kconfig"
rsource "serial/Kconfig"
rsource "tgpio/Kconfig"
endmenu
