# Copyright (c) 2021 Intel Corp.
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

rsource "ethernet/Kconfig"
rsource "timer/Kconfig"
rsource "dma/Kconfig"
rsource "ipc/Kconfig"
rsource "serial/Kconfig"
rsource "spi/Kconfig"
rsource "tgpio/Kconfig"
rsource "qep/Kconfig"
rsource "can/Kconfig"
rsource "pwm/Kconfig"
rsource "watchdog/Kconfig"
rsource "i2c/Kconfig"
rsource "gpio/Kconfig"
rsource "i2s/Kconfig"
rsource "audio/Kconfig"
rsource "sideband/Kconfig"
rsource "counter/Kconfig"
rsource "disk/Kconfig"

endmenu
