# Copyright (c) 2021 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_ELKHART_LAKE_PSE=y
CONFIG_BOARD_EHL_PSE_CRB=y
CONFIG_ARM_MPU=y
CONFIG_TICKLESS_KERNEL=y
CONFIG_CORTEX_M_SYSTICK=n
CONFIG_SYS_CLOCK_TICKS_PER_SEC=4096
CONFIG_HPET_TIMER=y
CONFIG_ENABLE_HW_PSS_WORKAROUND=y

# Configure IO Peripheral

#UART
#Selecting Uart for Console
#Note:UART driver has to be part of SEDI BSP to support uart console.
CONFIG_PRINTK=y
CONFIG_CONSOLE=y

CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_SEDI=y

#Configure float to use the floating point registers
CONFIG_FPU=y

CONFIG_FLASH=n
CONFIG_XIP=n
CONFIG_FLASH_SIZE=0
CONFIG_FLASH_BASE_ADDRESS=0x0


#SIDEBAND
CONFIG_SIDEBAND=y

#TSYNC
CONFIG_TSYNC=y

#Config sys and pmc service
CONFIG_SYS_SERVICE=y
CONFIG_PMC_SERVICE=y
CONFIG_ECLITE_SERVICE=n
CONFIG_PMC_MAX_CLIENT=3

#Config Power Management
CONFIG_PM=y
CONFIG_PM_DEVICE=y
CONFIG_PM_SERVICE=y

#Config DMA
CONFIG_DMA=y
CONFIG_DMA_SEDI=y

#Config Max Threads support
CONFIG_MAX_THREAD_BYTES=4

#Config HECI
CONFIG_HECI=y
CONFIG_HOST_SERVICE=y
CONFIG_HECI_LOG_LEVEL_ERR=y

# Configure IPC
CONFIG_IPC=y
CONFIG_IPC_SEDI=y
CONFIG_IPC_LOG_LEVEL_ERR=y

#Configure User Mode App Framework
CONFIG_USERSPACE=n
CONFIG_USER_APP_FRAMEWORK=n
CONFIG_NUM_USER_APP_AND_SERVICE=4
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_IDLE_STACK_SIZE=2048

# SHELL priority must be lower than (NUM_PREEMPT_PRIORITIES - 1).
# By default SHELL's priority is assigned the lowest. Now here we are
# increasing the priority so that shell doesn't get blocked by other/default 
# apps.
CONFIG_NUM_PREEMPT_PRIORITIES=32
CONFIG_SHELL_THREAD_PRIORITY_OVERRIDE=y
CONFIG_SHELL_THREAD_PRIORITY=29
