# Kconfig.sedi - Intel SEDI SPI driver configuration options
#
#
# Copyright (c) 2021 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig SPI_SEDI
	bool "SEDI SPI controller driver"
	help
	  Enable support for SEDI SPI controllers.

config SPI_INTEL_POLLED_MODE
	depends on SPI_INTEL
	bool "USE SPI polled mode synchronous Transfers"
	default y
	help
	 This option enables SPI feature to be used for synchronous
	 data transfers using polled mode.