# Kconfig - serial driver configuration options

#
# Copyright (c) 2014-2015 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

config UART_RS_485
	bool "Enable RS-485 support"
	help
	  This option adds supprt for RS485 mode of operation.
	  Default operation would be in RS232 mode and can be configured to
	  enable RS485 mode of operation using RS485 APIs

rsource "Kconfig.uart_intel"

rsource "Kconfig.sedi"
