# Kconfig - QEP configuration options

#
# Copyright (c) 2018 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

#
# QEP options
#
menuconfig QEP
	bool "QEP"
	help
	  Enable QPE Driver Configuration

if QEP

# Include these first so that any properties (e.g. defaults) below can be
# overridden (by defining symbols in multiple locations)

config QEP_INIT_PRIORITY
	int "Init priority"
	default 60
	help
	  QEP device driver initialization priority.

config SYS_LOG_QEP_LEVEL
	int "QEP log level"
	depends on SYS_LOG
	default 0
	help
	  Sets log level for QEP drivers.
	  Levels are:
	  - 0 OFF, do not write
	  - 1 ERROR, only write SYS_LOG_ERR
	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level
	  - 3 INFO, write SYS_LOG_INF in addition to previous levels
	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

endif # QEP
