# Kconfig.sedi - SEDI PWM configuration options
#
# Copyright (c) 2021 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig PWM_SEDI
	bool "SEDI PWM driver"
	help
	Enable the PWM driver found on Intel Microcontroller
	boards, using the SEDI library.
